<!DOCTYPE html>
<html>
  <head>
    <title>Air Portfolio</title>
    <% include partials/head %>
  </head>
  <body>
  <header class="brand-dark-gray">
    <div class="brand-gray-background center" >
        <img src="/images/air-portfolio-logo.png" class="ap-logo">
        <h1 class="header center white-text brand-h1">
          Air Portfolio<sup>beta</sup>
        </h1>
        <div class="row center">
          <h5 class="header col s12 white-text thin">"portfolio: a set of pieces of creative work collected by someone to display their skills"
          </h5>
        </div>  
        <div class="row center">
          <a href="/auth/facebook" id="download-button" class="btn-large waves-effect waves-light brand-button"><i class="fa fa-facebook left"></i>Sign up with Facebook</a>
          <br>
          <br>
          <a href="/signup/email" id="download-button" class="btn-large waves-effect waves-light brand-button"> <i class="material-icons left">email</i>Sign up with E-mail</a>
          <br>
          <br>
          <a class="white-text thin" href="/login">LOG-IN</a>​
        </div>
    </div>
  </header>
  
  <main>
    <div class="row home-row-padding">
      <div class="body-container container">
        <div class="col s12 m4 left-align">
          <i class="large material-icons">view_column</i>
        </div>
        <div class="col s12 m8 right-align ">
          <h3 class="brand-h3">Share your best work</h3>
          <p>Ensure that your work is shown elegantly across all devices with AP's responsive masonry layout.</p>
        </div>
      </div>
    </div>

    <div class="row brand-dark-gray home-row-padding">
      <div class="body-container container">
        <div class="col s12 m8 pull-left white-text">
          <h3 class="brand-h3">Fast set-up</h3>
          <p>Create and share a portfolio of your favorite images in under 5 minutes.</p> 
        </div>
       <div class="col s12 m4 right-align white-text">
          <i class="large material-icons">av_timer</i>
        </div>
      </div>
    </div>

    <div class="row home-row-padding">
      <div class="body-container container">
        <div class="col s12 center">
          <h3 class="brand-h3">Share Instantly</h3>
          <p>Built in functionality allows you to post your Air Portfolio on your favorite social media platform at the push of a button.</p> 
          <div>
            <i class="fa fa-twitter small" aria-hidden="true"></i>
            <i class="fa fa-facebook-official small" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square small" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square small" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer brand-dark-gray">
    <div class="footer-copyright">
      <div class="container white-text">
        © 2016 Copyright Luis Rocha
        <a class="white-text text-lighten-4 right" href="mailto:luisrochadev@gmail.com">Thanks for checking out Air Portfolio Beta. Click here to contact me with any bugs.</a>
      </div>
    </div>
  </footer>

    <div style="display:none;">
      <% include partials/footer %>
    </div>
  </body>
</html>